<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete the Song</title>
    <link href="../static/black-style.css" rel="stylesheet">
</head>
<body class="bg-rich-black text-pacific-blue">
  <div>
      <div id="title" class="mt-10 p-10">
          <h1 class="animate-pulse text-blizzard font-sans text-5xl font-bold text-center">
              Complete the Song
          </h1>
      </div>
      <div id="options" class="mt-20 m-10 p-10">
          <div class="grid grid-rows-2 gap-10 flex justify-center">
                  <a href="add-song" class="transition shadow-lg m-3 shadow-blizzard bg-midnight-green font-sans p-3 pl-20 pr-20 text-center text-blizzard rounded hover:bg-blizzard hover:text-rich-black hover:shadow hover:scale-110">
                      Add a new song
                  </a>
                  <a href="songs" class="transition shadow-lg m-3 shadow-blizzard bg-midnight-green font-sans p-3 pl-20 pr-20 text-center text-blizzard rounded hover:bg-blizzard hover:text-rich-black hover:shadow hover:scale-110">
                      View the songs
                  </a>
          </div>
      </div>
  </div>
</body>
</html>