<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/black-style.css" rel="stylesheet">
</head>
<body class="bg-rich-black text-pacific-blue">
  <div>
      <div id="title" class="mt-10 p-10">
          <h1 class="animate-pulse font-sans text-5xl font-bold text-center">
              {{song.title}}
          </h1>
      </div>
      <div id="lyrics" class="flex justify-center mt-20 m-10 p-10 text-center">
          <form action="../eval-song" method="post">
              {{song.gen_incomplete()|safe}}
              <input hidden id="correct-words" type="text" name="correct-words" value="{{song.get_correct_words()}}">
              <button type="submit" class="w-1/2 mt-10 transition shadow-lg m-10 shadow-blizzard bg-midnight-green p-3 pl-10 pr-10 text-blizzard rounded hover:bg-blizzard hover:text-rich-black hover:shadow hover:scale-110">
                  Evaluate
              </button>
          </form>
      </div>
      <div id="video" class="bg-pacific-blue m-10 rounded-lg">
          {{song.url|safe}}
      </div>
  </div>
</body>
</html>