<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/style.css" rel="stylesheet">
</head>
<body class="h-screen bg-space">
  <div class="justify-center">
      <div id="title" class="self-center mt-10 p-10">
          <h1 class=" text-green-sheen  font-sans text-5xl font-bold text-center">
              {{song.title}}
          </h1>
      </div>
      <div id="lyrics" class="self-center mt-20 m-10 p-10 items-center">
          <form action="../eval-song" method="post" class="text-green-sheen">
              {{song.gen_incomplete()|safe}}
              <input hidden id="correct-words" type="text" name="correct-words" value="{{song.get_correct_words()}}">
              <button type="submit">Eval</button>
          </form>
      </div>
      <div id="video">
          {{song.url|safe}}
      </div>
  </div>
</body>
</html>