<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/output.css" rel="stylesheet">
</head>
<body class="h-screen bg-gradient-to-t from-space to-green-sheen">
  <div class="justify-center">
      <div id="title" class="self-center mt-10 p-10">
          <h1 class="animate-pulse text-space  font-sans text-5xl font-bold text-center">Complete the Song</h1>
      </div>
      <div id="options" class="self-center mt-20 m-10 p-10 items-center">
          <div class="grid grid-rows-2 flex basis-full justify-center">
                  <a href="add-song.html" class="transition shadow-md m-3 shadow-sea-green bg-space font-sans p-3 text-center text-sea-green rounded hover:bg-sea-green hover:text-space hover:shadow hover:scale-110">Add a new song</a>
                  <a href="songs.html" class="transition shadow-md m-3 shadow-sea-green bg-space font-sans p-3 text-center text-sea-green rounded hover:bg-sea-green hover:text-space hover:shadow hover:scale-110">View the songs</a>
          </div>
      </div>
  </div>
</body>
</html>