<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/output.css" rel="stylesheet">
</head>
<body class="bg-slate-500">
  <div class="justify-center">
      <div id="title" class="rounded-lg shadow-lg self-center m-10 p-10 bg-slate-800">
          <h1 class="text-sky-400 font-sans text-5xl font-bold text-center">Complete the Song</h1>
      </div>
      <div id="options" class="rounded-lg shadow-lg self-center m-10 p-10 bg-slate-800">
          <div class="grid grid-rows-2 items-center mx-w-md">
                  <a href="add-song.html" class="shadow-lg m-3 bg-sky-400 font-sans p-3 text-center text-slate-900 rounded hover:bg-slate-400 border-2 hover:border-0 hover:text-gray">Add a new song</a>
                  <a href="songs.html" class="shadow-lg m-3 bg-sky-400 font-sans p-3 text-center text-slate-900 rounded hover:bg-slate-400 border-2 hover:border-0 hover:text-gray">View the songs</a>
          </div>
      </div>
  </div>
</body>
</html>